html {
    scroll-behavior: smooth;
}

:root {
    --color-main:       #4a6ca0;
    --color-glass:     #ffffffaa;
    --color-detail:    #222;
    --color-notice:   #FEFF81CD;
    --color-accent:   #6600ea;
}

.dark-theme {
    --color-main:       #64a1fc;
    --color-glass:      #222222aa;
    --color-detail:     whitesmoke;
    --color-notice:     #75752fcd;
    --color-accent:     #64a1fc;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: var(--color-detail);
}

body::before {
    content: "";
    position: fixed;
    top: -5px;
    left: 0;
    width: 100%;
    height: 105vh;

    background-image: url("DSCN0227.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.glass-pane {
    background-color: var(--color-glass);
    z-index: -1;
    width: 100;
    padding-left: 10vw;
    padding-right: 10vw;
}

.head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header, nav {
    width: 100%;
    text-align: center;
    padding: 1vh 3vw;
    border-bottom: var(--color-detail) 1px solid;
}

header div {
    line-height: 1px;
}

.fade-in {
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: .4em;
    font-size: 1.75vw;

    opacity: 0;
    animation: fade-in 2s ease-in forwards;
}
@keyframes fade-in {
    from {
        opacity: 0;
        filter: blur(3px);
    }
    25% {
        opacity: 0;
        filter: blur(3px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

.title-name {
    font-size: 8vw;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-size: 4.5vw;
}

nav div {
    text-align: center;
}

#nav-01 {
    border-left: none;
}

.spacer {
    height: 3px;
}

.notice {
    background-color: var(--color-notice);
    text-align: center;
    padding: 1vh 0;
}

.notice p {
    margin: 0.5vh;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .3s;
}

a:hover {
    color: var(--color-accent);
}

main {
    width: 100;
    backdrop-filter: blur(5px);
    padding-top: 3vh;
    padding-bottom: 6vh;

}
#role { grid-area: role;}
#skills { grid-area: skills;}
#education { grid-area: education;}
#experience { grid-area: experience;}

.role-desc, .res-section {
    width: 100%;
    text-align: left;
    text-shadow: var(--color-glass) 1px 1px;
}

#skills {
    line-height: 30px;
}

h4 {
    text-decoration: underline var(--color-accent) 2px;
    text-shadow: none;
    text-underline-offset: 5px;
}

hr {
    width: 61.8%;
    border: none;
    height: 1px;
    background-color: var(--color-detail);
    margin-left: 0;
}

.loc {
    color: var(--color-main);
}

aside {
    height: 61.8vh;
    width: 100;
}

footer {
    height: 10vh;
    width: 100;
    backdrop-filter: blur(5px);
}

.nav-foot {
    border: none;
}

* {
    font-size: 1rem;
}

@media all and (min-width: 640px) {
    #skills {
        line-height: 33px;
    }
    * {
        font-size: 1.06rem;
    }
}

@media all and (min-width: 768px) {
    #skills {
        line-height: 36px;
    }
    * {
        font-size: 1.12rem;
    }
    .fade-in {
        font-size: .9rem;
    }
    .title-name {
        font-size: 4.2rem;
    }
}

@media all and (min-width: 1024px) {
    #skills {
        line-height: 39px;
    }
    * {
        font-size: 1.18rem;
    }
    footer {
        height: auto;
    }
}

@media all and (min-width: 1200px) {
    #skills {
        line-height: 42px;
    }
    * {
        font-size: 1.24rem;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 15px;
        grid-template-areas: 
            "role role"
            "skills education"
            "skills experience";
    }
}

.toggle-btn {
    border-radius: 7px;
    border: var(--color-detail) 1px solid;
    color: var(--color-detail);
    padding: 10px;
    cursor: pointer;
    background-color: var(--color-glass);

    position: fixed;
    bottom: 50px;
    right: 10px;
}
